html, body {
  height: 100%;

  background-image: url("solshare.png");
  
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
   

}

#ex3 {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 850px;
    box-sizing: border-box;
    width: 90%;
    background: #000;
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    text-align: left;
}

#animation{
    width: 800px;
    height: 500px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999999999999;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Open Sans';
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  /*background: #4FD1C5;*/
  background: #F79020;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #F79020;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  z-index: 999999999999999999999;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #F79020;
  box-shadow: 0 0 60px #F79020;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
  z-index: 999999999999999999999;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
  z-index: 999999999999999999999;
}

button:hover::before, button:focus::before {
  opacity: 1;
  z-index: 999999999999999999999;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #F79020;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  z-index: 999999999999999999999;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.loader{
  width: 100px;
  height: 100px;
  position: relative;
  display: none;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: 50%;
  mix-blend-mode: screen;
  animation: rotate 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
}
.loader::before {
  /*background-color: #fc3f9e;*/
  background-color: #e17607;
  z-index: 999999999999999999999;
}
.loader::after {
  /*background-color: #50e8f3;*/
  background-color: white;
  animation-delay: .5s;
  z-index: 999999999999999999999;
}
@keyframes rotate {
  0%,
  100% {
    left: 95px;
  }
  25% {
    transform: scale(.3);
  }
  50% {
    left: 0;
  }
  75% {
    transform: scale(1);
  }
}

#launched-text{
  text-align: center;
}
#heading {
  font-size: 5rem;
  color: white;
  animation: fadeIn 2s ease-in;
  font-family: 'Open Sans';
  font-weight: 400;
  display: none;
  margin-bottom: 2px;
}
#tagline{
  color: white;
  animation: fadeIn 2s ease-in;
  font-family: 'Open Sans';
  font-weight: 400;
  display: none;
  font-size: 21px;
}



@keyframes shake {
  0% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
  10% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  20% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 1; }
  100% { opacity: 1; }
}
